body{
   background:#123833;
  
  
}
.wrapper{

}
.div0{
   height:18px;
   width:18px;
   background:#ff6500;
   position:absolute;
   left:62px;
   right:0;
   top:49px;
   margin:8rem;
   border-radius:30%;
}

.div1{
   height:60px;
   width:40px;
   background:#23241F;
   opacity:3;
   position:absolute;
   left:0;
   right:0;
   margin:11.2rem;
   border-radius:5px;
   z-index:1;
}

ul{
   position:absolute;
   background:transparent;
   left: -35px;
   top: -15px;
  }

li{
   border:1px solid green;
   margin:5px;
   width:20px;
   height:1px;
   background:green;
   list-style:none;      
}


.div1::after{
   content:"";
   background: transparent;
   border: 23px solid #A8A8A8;
   opacity: 1;
   border-top-color: #a8a8a8;
   position: absolute;
   left: -6px;
   right: 0;
   top: 46px;
   margin: -1rem;
   border-radius: 101%;
   z-index: 2;
   width: 42px;
   filter: blur(0.5px);
  
}

.div2{
   height:150px;
   width:150px;
   background: #c2cfda33;
   opacity:0.8;
   position:absolute;
   top:90px;
   left:0;
   right:0;
   margin:7.9rem;
   border-radius:100%;
   text-shadow: -2px 5px 8px red;
}

.div2:hover{
   background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.divdiv:hover{
   background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
   box-shadow: 2px 19px 33px #9d92ba;
   transition: .5s ease;
}

.divdiv{
  
}
.name-name{
	
}

h2{
   color: crimson;
   position: absolute;
   top: 20rem;
   left: 25%;
   font-size: 6rem;
   text-shadow: 1px 2px 23px skyblue;
   font-family: cursive;
   font-style: italic;
   transform: translateY(-35%) rotate(-24deg);
	}

.toggle{
    
   margin-left: 50%;
   margin-right: 41%;
   z-index: -9999999999;
   padding: 18px 1px 5px 22px;
   color: transparent;
   font-size: 52px;
}

label{
   display: block;
   cursor: pointer;
   max-width: 55px;
   width: 100%;
}
   
   #toggle:checked + .menu{
   background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
   box-shadow: 2px 19px 33px #9d92ba;
   transition: .5s ease;
   }
input#toggle {
    display: none;
}
.switchs{
   border: 50px solid #502522;
   max-width: 1px;
   position: relative;
   border-radius: 6px;
   top: -80px;
   z-index: -99;
   left: 50%;

}
.switchs::before{
      content: "";
    border-radius: 33px 33px;
    position: absolute;
    border: 43px solid black;
    border-top-color: transparent;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    border-top-width: 6px;
    border-bottom-width: 68px;
    border-left-width: 25px;
    border-right-width: 24px;
    left: -25px;
    bottom: -28px;
    box-shadow: 0px 16px 22px 6px;
}
.logo2 {
   margin-top: 14px;
    
    position: absolute;
    margin-left: 74px;
}
.logo2 a {
   color: black;
}
.logo2 a i{
   color: #000;
}
.logo2 a h2{
   font-size: 32px;
   box-shadow: 4px 8px 17px 3px;
   border-radius: 2px;
   border-bottom: 3px solid red;
}